<div class="tasks-wrapper">
    <div class="container">
      <div class="task completed">
          <div class="check-box completed">
              <i class="material-icons-outlined">check</i>
          </div>
          <p class="task-text">hey task</p>
      </div>
        <div class="task">
          <div class="check-box">
              <i class="material-icons-outlined">check</i>
          </div>
          <p class="task-text">hello there everything is fine</p>
        </div>
    </div>
  </div>
